html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
}
.mediaViewInfo {
	--web-view-name: Hive-CLI WEBUI;
	--web-view-id: Hive-CLI_WEBUI;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Hive-CLI_WEBUI;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
body{
    background-color: rgba(67,67,67,1);
}
.Hive-CLI_WEBUI_Class {
    zoom: 0.8;
	left: 0;
	position: absolute;
	overflow-x: hidden;
    height: 100%;
    width: 100%;
	--web-view-name: Hive-CLI WEBUI;
	--web-view-id: Hive-CLI_WEBUI;
	--web-scale-on-resize: false;
	--web-center-horizontally: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
.RestartBanner_Class{
	display: none;
	left: 0px;
	top: 100px;
	width: 100%;
	height: 50px;
	position: relative;
	text-align: center;
	font-size: 30px;
	font-style: normal;
	overflow: hidden;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	background-color: rgba(244,105,50,1);
}
.Restart_Class{
	position:relative;
}
.BannerCloseButton_Class{
	top: 1px;
	position: absolute;
	background: none;
	font-size: 30px;
	color: white;
	outline: none;
	right: 50px;
	margin: auto;
}
.BannerCloseButton_Class:hover{
	opacity: 0.8;
}
.TaskManager_Class{
	position: relative;
    top: 80px;
    height: 310px;
    margin: 30px;
    overflow-y: scroll;
}
.taskmanagerstatusname_Class {
	position: absolute;
	overflow: visible;
	width: 430px;
	white-space: wrap;
	word-wrap: break-word;
	line-height: 35px;
	margin-top: -6px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(255,255,255,1);
}
.taskmanagerstatusstatus_Class {
	opacity: 0.87;
    left: 495px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: wrap;
	word-wrap: break-word;
	line-height: 35px;
	margin-top: -6px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(255,255,255,1);
}
.taskmanagerstatusAS_Class {
	opacity: 0.87;
    position: absolute;
	overflow: visible;
    left: 735px;
	width: 166px;
	white-space: wrap;
	word-wrap: break-word;
	line-height: 35px;
	margin-top: -6px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(255,255,255,1);
}
.Group_74_Class {
	position: absolute;
	width: 394px;
	height: 180px;
	left: 152px;
	top: 1211px;
	overflow: visible;
}
.Group_38_Class {
	position: absolute;
	width: 394px;
	height: 180px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_2_p_Class {
	fill: url(#Rectangle_2_p);
}
.Rectangle_2_p {
	position: absolute;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 394px;
	height: 169px;
	left: 0px;
	top: 0px;
}
.BalanceBox_Class {
	position: absolute;
	width: 394px;
	height: 334px;
	left: 152px;
	top: 280px;
	overflow: visible;
}
.Rectangle_1_r_Class {
	opacity: 0.56;
	filter: blur(5.5px);
	fill: #262626;
}
.Rectangle_1_r {
	position: absolute;
	overflow: visible;
	width: 411px;
	height: 373px;
	left: 28px;
	top: 27px;
}
.Rectangle_2_t_Class {
	fill: url(#Rectangle_2_t);
}
.Rectangle_2_t {
	position: absolute;
	overflow: visible;
	width: 394px;
	height: 318px;
	left: 0px;
	top: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.UptimeBox_Class {
	position: absolute;
	width: 393px;
	height: 294px;
	left: 574px;
	top: 626px;
	overflow: visible;
}

.Rectangle_2_x_Class {
	fill: url(#Rectangle_2_x);
}
.Rectangle_2_x {
	position: absolute;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 393px;
	height: 279px;
	left: 0px;
	top: 0px;
}
.Group_29_Class {
	position: absolute;
	width: 1038px;
	height: 459px;
	left: 153px;
	top: 1415px;
	overflow: visible;
}
.Rectangle_2_ba_Class {
	fill: url(#Rectangle_2_ba);
}
.Rectangle_2_ba {
	position: absolute;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 1038px;
	height: 444px;
	left: 0px;
	top: 0px;
}
.TaskBox_Class {
	position: absolute;
	width: 1194px;
	height: 456px;
	left: 574px;
	top: 939px;
	overflow: visible;
}
.Rectangle_2_bc_Class {
	fill: url(#Rectangle_2_bc);
}
.Rectangle_2_bc {
	position: absolute;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 1194px;
	height: 441px;
	left: 0px;
	top: 0px;
}
.Group_14_Class {
	position: absolute;
	width: 211px;
	height: 140px;
	left: 995px;
	top: 626px;
	overflow: visible;
}
.Rectangle_2_be_Class {
	fill: url(#Rectangle_2_be);
}
.Rectangle_2_be {
	position: absolute;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 211px;
	height: 125px;
	left: 0px;
	top: 0px;
}
.Group_26_Class {
	position: absolute;
	width: 211px;
	height: 140px;
	left: 995px;
	top: 780px;
	overflow: visible;
}
.Rectangle_2_bg_Class {
	fill: url(#Rectangle_2_bg);
}
.Rectangle_2_bg {
	position: absolute;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 211px;
	height: 125px;
	left: 0px;
	top: 0px;
}
.PeersBox_Class {
	position: absolute;
	width: 534px;
	height: 279px;
	left: 1234px;
	top: 626px;
	overflow: visible;
}
.Rectangle_2_bh_Class {
	fill: rgba(51,51,51,1);
}
.Rectangle_2_bh {
	position: absolute;
	overflow: visible;
	width: 540px;
	height: 285px;
	left: 0px;
	top: 0px;
}
.Group_7_Class {
	position: absolute;
	width: 393px;
	height: 156px;
	left: 574px;
	top: 280px;
	overflow: visible;
}
/* .Rectangle_1_bh_Class {
	opacity: 0.26;
	border-radius: 5px;
	filter: blur(22px);
	backdrop-filter: blur(5.5px);
	fill: rgba(46,46,46,1);
} */
.Rectangle_1_bh {
	position: absolute;
	overflow: visible;
	width: 420px;
	height: 200px;
	left: 22px;
	top: 22px;
}
.Rectangle_2_bj_Class {
	fill: url(#Rectangle_2_bj);
}
.Rectangle_2_bj {
	position: absolute;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 393px;
	height: 145px;
	left: 0px;
	top: 0px;
}
.Group_11_Class {
	position: absolute;
	width: 182px;
	height: 154px;
	left: 152px;
	top: 626px;
	overflow: visible;
}
.Rectangle_1_bl_Class {
	opacity: 0.56;
	filter: blur(11px);
	fill: rgba(38,38,38,1);
}
.Rectangle_1_bl {
	position: absolute;
	overflow: visible;
	width: 200px;
	height: 194px;
	left: 27px;
	top: 26px;
}
.Rectangle_2_bn_Class {
	fill: url(#Rectangle_2_bn);
}
.Rectangle_2_bn {
	position: absolute;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 182px;
	height: 140px;
	left: 0px;
	top: 0px;
}
.Group_13_Class {
	position: absolute;
	width: 182px;
	height: 154px;
	left: 364px;
	top: 626px;
	overflow: visible;
}
.Rectangle_1_bp_Class {
	opacity: 0.56;
	filter: blur(11px);
	fill: rgba(38,38,38,1);
}
.Rectangle_1_bp {
	position: absolute;
	overflow: visible;
	width: 200px;
	height: 194px;
	left: 27px;
	top: 26px;
}
.Rectangle_2_br_Class {
	fill: url(#Rectangle_2_br);
}
.Rectangle_2_br {
	position: absolute;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 182px;
	height: 140px;
	left: 0px;
	top: 0px;
}
.Group_10_Class {
	position: absolute;
	width: 393px;
	height: 156px;
	left: 574px;
	top: 453px;
	overflow: visible;
}
.Rectangle_1_bt_Class {
	opacity: 0.56;
	filter: blur(11px);
	fill: rgba(38,38,38,1);
}
.Rectangle_1_bt {
	position: absolute;
	overflow: visible;
	width: 420px;
	height: 201px;
	left: 22px;
	top: 21px;
}
.Rectangle_2_bv_Class {
	fill: url(#Rectangle_2_bv);
}
.Rectangle_2_bv {
	position: absolute;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 393px;
	height: 145px;
	left: 0px;
	top: 0px;
}
.AddressBox_Class {
	position: absolute;
	width: 773px;
	height: 334px;
	left: 995px;
	top: 280px;
}
.Rectangle_1_bx_Class {
	opacity: 0.56;
	filter: blur(11px);
	fill: rgba(38,38,38,1);
}
.Rectangle_1_bx {
	position: absolute;
	overflow: visible;
	width: 790px;
	height: 373px;
	left: 28px;
	top: 27px;
}
.InfoBox_Class{
	overflow-y: scroll;
	position: relative;
	height: 318px;
}
.Rectangle_2_bz_Class {
	fill: url(#Rectangle_2_bz);
	width: 773px;
	height: 318px;
}
.Rectangle_2_bz {
	position: absolute;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 773px;
	height: 318px;
	left: 0px;
	top: 0px;
}
.Navbar {
	background: rgba(38,38,38,1);
	position: absolute;
	overflow: visible;
	width: 100%;
    height: 6.5rem;
	left: 0px;
	top: 0px;
}
.Frame_169_Class {
	position: absolute;
	width: 192.011px;
	height: 65.322px;
	left: 96px;
	top: 18px;
	overflow: visible;
}
.Path_1_Class {
	fill: rgba(255,248,242,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 109.964px;
	height: 40.552px;
	left: 82.047px;
	top: 13.625px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_2_Class {
	fill: rgba(244,105,50,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 34.885px;
	height: 48.714px;
	left: 15.276px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3_Class {
	fill: rgba(244,105,50,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 39.92px;
	height: 44.735px;
	left: 31.393px;
	top: 15.687px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_4_Class {
	fill: rgba(244,105,50,1);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 39.609px;
	height: 45.617px;
	left: 0.043px;
	top: 19.705px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_5_Class {
	fill: rgba(208,90,43,1);
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 12.319px;
	height: 11.657px;
	left: 23.491px;
	top: 14.803px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_6_b_Class {
	opacity: 0.63;
	fill: url(#Path_6_b);
}
.Path_6_b {
	overflow: visible;
	position: absolute;
	width: 9.007px;
	height: 11.171px;
	left: 20.182px;
	top: 27.52px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_7_ca_Class {
	opacity: 0.63;
	fill: url(#Path_7_ca);
}
.Path_7_ca {
	overflow: visible;
	position: absolute;
	width: 13.116px;
	height: 14.659px;
	left: 0px;
	top: 19.66px;
	transform: matrix(1,0,0,1,0,0);
}
.Your_Hive_Dashboard_Class {
	left: 152px;
	top: 160px;
	position: absolute;
	overflow: visible;
	width: 478px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(244,105,50,1);
}
.LastConnectedLabel_Class {
    display: none;
	left: 1130px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(133,133,133,1);
}
.StatusLabel_Class {
	left: 862px;
	top: 211px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(133,133,133,1);
}
.Repeat_Grid_1_Class {
	position: absolute;
	width: 60px;
	height: 311px;
	left: 180px;
	top: 1496px;
	overflow: hidden;
}
.Repeat_Grid_1_0_Class {
	position: absolute;
	width: 60px;
	height: 24px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.-00005_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(153,153,153,1);
}
.Repeat_Grid_1_1_Class {
	position: absolute;
	width: 60px;
	height: 24px;
	left: 0px;
	top: 35px;
	overflow: visible;
}
.-00010_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(153,153,153,1);
}
.Repeat_Grid_1_2_Class {
	position: absolute;
	width: 60px;
	height: 24px;
	left: 0px;
	top: 70px;
	overflow: visible;
}
.-00015_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(153,153,153,1);
}
.Repeat_Grid_1_3_Class {
	position: absolute;
	width: 60px;
	height: 24px;
	left: 0px;
	top: 105px;
	overflow: visible;
}
.-00020_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(153,153,153,1);
}
.Repeat_Grid_1_4_Class {
	position: absolute;
	width: 60px;
	height: 24px;
	left: 0px;
	top: 140px;
	overflow: visible;
}
.-00025_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(153,153,153,1);
}
.Repeat_Grid_1_5_Class {
	position: absolute;
	width: 60px;
	height: 24px;
	left: 0px;
	top: 175px;
	overflow: visible;
}
.-00030_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(153,153,153,1);
}
.Repeat_Grid_1_6_Class {
	position: absolute;
	width: 60px;
	height: 24px;
	left: 0px;
	top: 210px;
	overflow: visible;
}
.-00035_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(153,153,153,1);
}
.Repeat_Grid_1_7_Class {
	position: absolute;
	width: 60px;
	height: 24px;
	left: 0px;
	top: 245px;
	overflow: visible;
}
.-00040_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(153,153,153,1);
}
.Repeat_Grid_1_8_Class {
	position: absolute;
	width: 60px;
	height: 24px;
	left: 0px;
	top: 280px;
	overflow: visible;
}
.-00045_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(153,153,153,1);
}
.VersionLabel_Class {
	left: 1200px;
	top: 211px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(133,133,133,1);
}
.LastConnected_Class {
    display: none;
	left: 1325px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.LoggedIn_Class {
	left: 955px;
	top: 211px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.DaemonBox_Class {
	position: absolute;
	width: 393px;
	height: 136px;
	left: 152px;
	top: 789px;
	overflow: visible;
}
.Rectangle_1_c_Class {
	opacity: 0.45;
	filter: blur(11px);
	fill: rgba(38,38,38,1);
}
.Rectangle_1_c {
	position: absolute;
	overflow: visible;
	width: 411px;
	height: 202px;
	left: 28px;
	top: 0px;
}
.Rectangle_2_da_Class {
	fill: url(#Rectangle_2_da);
}
.Rectangle_2_da {
	position: absolute;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 393px;
	height: 111px;
	left: 0px;
	top: 5px;
}
.ServerStatusBox_Class {
	position: absolute;
	width: 393px;
	height: 267px;
	left: 152px;
	top: 934px;
	overflow: visible;
}
.Rectangle_2_dc_Class {
	fill: url(#Rectangle_2_dc);
}
.Rectangle_2_dc {
	position: absolute;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 393px;
	height: 242px;
	left: 0px;
	top: 5px;
}
.DRLabel_Class {
	opacity: 0.6;
	left: 257px;
	top: 811px;
	position: absolute;
	overflow: visible;
	width: 185px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(244,105,50,1);
}
.DaemonRunning_Class {
	left: 306px;
	top: 856px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.RPCLabel_Class {
	left: 180px;
	top: 1013px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(244,105,49,1);
}
.HTTPLabel_Class {
	left: 180px;
	top: 1063px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(244,105,49,1);
}
.PROXYLabel_Class {
	left: 180px;
	top: 1119px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(244,105,49,1);
}
.RPC_Class {
	opacity: 0.76;
	left: 294px;
	top: 1013px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.HTTP_Class {
	opacity: 0.76;
	left: 294px;
	top: 1063px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.PROXY_Class {
	opacity: 0.76;
	left: 294px;
	top: 1119px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.ConfirmedBalanceLabel_Class {
	left: 241px;
	top: 467px;
	position: absolute;
	overflow: visible;
	width: 215px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(244,105,50,1);
}
.PendingLabel_Class {
	left: 725px;
	top: 369px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(244,105,50,1);
}
.Storage_allocated_Class {
	opacity: 0.73;
	left: 1013px;
	top: 701px;
	position: absolute;
	overflow: visible;
	width: 175px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(47,46,46,1);
}
.Downloaded_Class {
	left: 172px;
	top: 1255px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(100,177,2,1);
}
.Storage_Used_Class {
	opacity: 0.75;
	left: 1036px;
	top: 853px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(58,45,41,1);
}
.StatusName_Class {
	opacity: 0.76;
	left: 609px;
	top: 1003px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(244,105,50,1);
}
.DevicesDropDown_Class {
	padding: 5px;
	outline: none;
	opacity: 0.76;
	position: relative;
	overflow: visible;
	top: -10.5px;
	left: 12px;
	width: 510px;
	height: 105px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(244,105,50,1);
	background: none;
}
.GraphBox_Class{
	left: 30px;
	top: 60px;
	width: 978px;
	height: 364px;
	position: relative;
	font-size: 24px;
	color:orange;
}
option{
	background-color: rgba(67, 67, 67, 1);
}
.StatusStatus_Class {
	opacity: 0.76;
	left: 1097px;
	top: 1003px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(244,105,50,1);
}
.StatusAS_Class {
	opacity: 0.76;
	left: 1332px;
	top: 1003px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(244,105,50,1);
}
.Connected_Peers_Class {
	left: 1254px;
	top: 639px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.Uptime_Class {
	left: 729px;
	top: 795px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(244,105,50,1);
}
.AddressLeft_Class {
	display: block;
	left: 1600px;
	top: 550px;
	text-decoration: none;
	background: none;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	outline: none;
	color: rgba(244,105,50,1);
}
.AddressRight_Class {
	display: block;
	left: 1650px;
	top: 550px;
	text-decoration: none;
	background: none;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	outline: none;
	color: rgba(244,105,50,1);
}


.NextDistributionLabel_Class {
	left: 672px;
	top: 543px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(244,105,50,1);
}
.Version_Class {
	left: 1307px;
	top: 211px;
	position: absolute;
	overflow: visible;
	width: 400px;
	/* white-space: wrap;
	word-wrap: break-word; */
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.Group_4_Class {
	position: absolute;
	width: 32px;
	height: 33px;
	left: 1087px;
	top: 179px;
	overflow: visible;
}
.Path_24_Class {
	fill: rgba(100,177,2,1);
}
.Path_24 {
	overflow: visible;
	position: absolute;
	width: 32px;
	height: 33px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_8_Class {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_8 {
	overflow: visible;
	position: absolute;
	width: 20.35px;
	height: 13.293px;
	left: 6.971px;
	top: 10.481px;
	transform: matrix(1,0,0,1,0,0);
}
.PeerIDLabel_Class {
	left: 50px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(133,133,133,1);
}
.PeerID_Class {
	left: 150px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 557px;
	white-space: wrap;
	word-wrap: break-word;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.EmailLabel_Class {
	left: 862px;
	top: 160px;
	position: absolute;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(133,133,133,1);
}
.Role_Class {
	left: 120px;
	top: 165px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
    text-transform: capitalize;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.RoleLabel_Class {
	left: 50px;
	top: 165px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: right;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(133,133,133,1);
}
.IncomingLabel_Class {
	left: 195px;
	top: 710px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: right;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(133,133,133,1);
}
.OutgoingLabel_Class {
	left: 404px;
	top: 710px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(133,133,133,1);
}
.Address_Class {
	left: 160px;
	top: 215px;
	position: absolute;
	width: 559px;
	height: 65px;
	padding:2px;
	white-space: wrap;
	word-wrap: break-word;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.AddressLabel_Class {
	left: 50px;
	top: 215px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: right;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(133,133,133,1);
}
.TASK_MANAGER_Class {
	left: 608px;
	top: 957px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(133,133,133,1);
}
.Server_Status_Class {
	left: 172px;
	top: 957px;
	position: absolute;
	overflow: visible;
	width: 173px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(133,133,133,1);
	text-transform: uppercase;
}
.EARNINGS_BY_WEEK_Class {
	left: 180px;
	top: 1425px;
	position: absolute;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(133,133,133,1);
}
.Repeat_Grid_3_Class {
	position: absolute;
	width: 875px;
	height: 24px;
	left: 268px;
	top: 1808px;
	overflow: hidden;
}
.Repeat_Grid_3_0_Class {
	position: absolute;
	width: 77px;
	height: 19px;
	left: 0px;
	top: 4px;
	overflow: visible;
}
.ID02_Dec_2020_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(244,104,49,1);
}
.Repeat_Grid_3_1_Class {
	position: absolute;
	width: 77px;
	height: 19px;
	left: 129px;
	top: 4px;
	overflow: visible;
}
.ID03_Dec_2020_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(244,104,49,1);
}
.Repeat_Grid_3_2_Class {
	position: absolute;
	width: 77px;
	height: 19px;
	left: 258px;
	top: 4px;
	overflow: visible;
}
.ID04_Dec_2020_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(244,104,49,1);
}
.Repeat_Grid_3_3_Class {
	position: absolute;
	width: 77px;
	height: 19px;
	left: 387px;
	top: 4px;
	overflow: visible;
}
.ID05_Dec_2020_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(244,104,49,1);
}
.Repeat_Grid_3_4_Class {
	position: absolute;
	width: 77px;
	height: 19px;
	left: 516px;
	top: 4px;
	overflow: visible;
}
.ID06_Dec_2020_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(244,104,49,1);
}
.Repeat_Grid_3_5_Class {
	position: absolute;
	width: 77px;
	height: 19px;
	left: 645px;
	top: 4px;
	overflow: visible;
}
.ID07_Dec_2020_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(244,104,49,1);
}
.Repeat_Grid_3_6_Class {
	position: absolute;
	width: 77px;
	height: 19px;
	left: 774px;
	top: 4px;
	overflow: visible;
}
.ID08_Dec_2020_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(244,104,49,1);
}
.Peers_Class {
	left: 1254px;
	top: 689px;
	padding:3px;
	position: absolute;
	overflow-y: scroll;
	width: 500px;
	height: 200px;
	white-space: wrap;
	word-wrap: break-word;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(133,133,133,1);
}
div::-webkit-scrollbar {
	width: 0.8rem;
}
div::-webkit-scrollbar-track{
	 background-color: rgba(138,138,138,1);
	 border-radius: 10px;
}
div::-webkit-scrollbar-button{
	display: none;
}
div::-webkit-scrollbar-thumb{
  background-color: rgba(38,38,38,1);
  border-radius: 10px;
  opacity: 1;
  z-index: 999;
}
.ip4122172338tcp4342p2p12D3KooW_ek_Class {
	left: 1254px;
	top: 756px;
	position: absolute;
	overflow: visible;
	width: 430px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(133,133,133,1);
}
.ip4122172338tcp4342p2p12D3KooW_el_Class {
	left: 1254px;
	top: 823px;
	position: absolute;
	overflow: visible;
	width: 430px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(133,133,133,1);
}
.Email_Class {
	left: 942px;
	top: 160px;
	position: absolute;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.Storage_Path_Class {
	left: 50px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 152px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(133,133,133,1);
}
.StoragePath_Class {
	left: 220px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 261px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.confirmedBalance_Class {
	left: 172px;
	top: 394px;
	position: absolute;
	overflow: visible;
	width: 355px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(255,255,255,1);
}
.percentageNumber_Class {
	left: 717px;
	top: 750px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
.Time_Class {
	opacity: 0.45;
	left: 575px;
	top: 700px;
	position: relative;
	overflow: visible;
	width: 393px;
    white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
    text-transform: capitalize;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
.Pending_Class {
	left: 638px;
	top: 311px;
	position: absolute;
	overflow: visible;
	width: 253px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
.Group_39_Class {
	position: absolute;
	width: 544px;
	height: 156px;
	left: 1224px;
	top: 1530px;
	overflow: visible;
}
.Group_38_ey_Class {
	position: absolute;
	width: 544px;
	height: 156px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_2_fa_Class {
	fill: url(#Rectangle_2_fa);
}
.Rectangle_2_fa {
	position: absolute;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 544px;
	height: 145px;
	left: 0px;
	top: 0px;
}
.EarnedCycleLabel_Class {
	left: 165px;
	top: 90px;
	position: absolute;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(244,105,50,1);
}
.EarnedCycle_Class {
	left: 133px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 253px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
.Group_40_Class {
	position: absolute;
	width: 262px;
	height: 156px;
	left: 1222px;
	top: 1716px;
	overflow: visible;
}
.Group_38_e_Class {
	position: absolute;
	width: 262px;
	height: 156px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_2_fc_Class {
	fill: url(#Rectangle_2_fc);
}
.Rectangle_2_fc {
	position: absolute;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 262px;
	height: 145px;
	left: 0px;
	top: 0px;
}
.DownloadedCycleLabel_Class {
	left: 58px;
	top: 89px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(244,105,50,1);
}
.DownloadedCycle_Class {
	left: 60px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
.Group_41_Class {
	position: absolute;
	width: 262px;
	height: 156px;
	left: 1506px;
	top: 1716px;
	overflow: visible;
}
.Group_38_fc_Class {
	position: absolute;
	width: 262px;
	height: 156px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_2_ff_Class {
	fill: url(#Rectangle_2_ff);
}
.Rectangle_2_ff {
	position: absolute;
	overflow: visible;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 262px;
	height: 145px;
	left: 0px;
	top: 0px;
}
.ServedLabel_Class {
	left: 95px;
	top: 90px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(244,105,50,1);
}
.ServedCycle_Class {
	left: 75px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(255,255,255,1);
}
.MaxStorage_Class {
	opacity: 0.85;
	left: 1030px;
	top: 648px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(23,23,23,1);
}
.CycleDownloaded_Class {
	opacity: 0.85;
	left: 172px;
	top: 1300px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
.UsedStorage_Class {
	left: 1030px;
	top: 800px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(58,45,41,1);
}
.Group_27_Class {
	position: absolute;
	width: 72px;
	height: 32px;
	left: 376px;
	top: 1255px;
	overflow: visible;
}
.Served_fm_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(100,177,2,1);
}
.PeersData_Class {
	opacity: 0.85;
	left: 1452px;
	top: 632px;
	position: absolute;
	overflow: visible;
	width: 33px;
	/* overflow-x: hidden;
    overflow-y: auto; */
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(243,105,49,1);
}
.NextDistribution_Class {
	left: 621px;
	top: 485px;
	position: absolute;
	overflow: visible;
	width: 293px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
.Incoming_Class {
	left: 168px;
	top: 662px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Outgoing_Class {
	left: 380px;
	top: 662px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
.Group_5_Class {
	opacity: 0.25;
	position: absolute;
	width: 207.973px;
	height: 190.618px;
	left: 152.04px;
	top: 279.999px;
	overflow: visible;
}
.Path_9_Class {
	opacity: 0.35;
	fill: rgba(244,105,50,1);
}
.Path_9 {
	overflow: visible;
	position: absolute;
	width: 101.797px;
	height: 142.154px;
	left: 44.454px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_10_Class {
	opacity: 0.35;
	fill: rgba(244,105,50,1);
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 116.492px;
	height: 130.544px;
	left: 91.482px;
	top: 45.775px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11_Class {
	opacity: 0.35;
	fill: rgba(244,105,50,1);
}
.Path_11 {
	overflow: visible;
	position: absolute;
	width: 115.583px;
	height: 133.117px;
	left: 0px;
	top: 57.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_25_Class {
	opacity: 0.25;
	position: absolute;
	width: 207.973px;
	height: 190.618px;
	left: 1560.347px;
	top: 1187.012px;
	overflow: visible;
}
.Path_9_fw_Class {
	opacity: 0.35;
	fill: rgba(244,105,50,1);
}
.Path_9_fw {
	overflow: visible;
	position: absolute;
	width: 101.798px;
	height: 142.154px;
	left: 44.454px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_10_fx_Class {
	opacity: 0.35;
	fill: rgba(244,105,50,1);
}
.Path_10_fx {
	overflow: visible;
	position: absolute;
	width: 116.492px;
	height: 130.544px;
	left: 91.482px;
	top: 45.775px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11_fy_Class {
	opacity: 0.35;
	fill: rgba(244,105,50,1);
}
.Path_11_fy {
	overflow: visible;
	position: absolute;
	width: 115.583px;
	height: 133.117px;
	left: 0px;
	top: 57.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_6_Class {
	opacity: 0.25;
	position: absolute;
	width: 207.973px;
	height: 190.618px;
	left: 1560.347px;
	top: 361.517px;
	overflow: visible;
}
.Path_9_f_Class {
	opacity: 0.35;
	fill: rgba(244,105,50,1);
}
.Path_9_f {
	overflow: visible;
	position: absolute;
	width: 101.798px;
	height: 142.154px;
	left: 44.454px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_10_f_Class {
	opacity: 0.35;
	fill: rgba(244,105,50,1);
}
.Path_10_f {
	overflow: visible;
	position: absolute;
	width: 116.492px;
	height: 130.544px;
	left: 91.482px;
	top: 45.776px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11_f_Class {
	opacity: 0.35;
	fill: rgba(244,105,50,1);
}
.Path_11_f {
	overflow: visible;
	position: absolute;
	width: 115.583px;
	height: 133.117px;
	left: 0px;
	top: 57.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_9_Class {
	position: absolute;
	width: 251.637px;
	height: 255.684px;
	left: 659px;
	top: 624.316px;
	overflow: visible;
}
.Ellipse_4_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 20px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 225px;
	height: 225px;
	left: 0px;
	top: 30.684px;
}
.Mask_Group_2_Class {
	position: absolute;
	width: 200.811px;
	height: 145.092px;
	left: 50.826px;
	top: 0px;
	overflow: visible;
}
.Group_17_Class {
	opacity: 0.26;
	position: absolute;
	width: 199px;
	height: 205px;
	left: 1234px;
	top: 624px;
	overflow: visible;
}
.Polygon_3_Class {
	opacity: 0.23;
	fill: transparent;
	stroke: rgba(244,104,49,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Polygon_3 {
	overflow: visible;
	position: absolute;
	width: 129px;
	height: 112px;
	transform: translate(0.232px, -0.123px) matrix(1,0,0,1,29.2684,8.6234) rotate(90deg);
	transform-origin: center;
	left: 5px;
	top: 5px;
}
.Polygon_4_Class {
	opacity: 0.23;
	fill: transparent;
	stroke: rgba(244,104,49,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Polygon_4 {
	overflow: visible;
	position: absolute;
	width: 129px;
	height: 112px;
	transform: translate(0.232px, -0.123px) matrix(1,0,0,1,78.2684,65.6234) rotate(90deg);
	transform-origin: center;
	left: 5px;
	top: 5px;
}
.Polygon_5_Class {
	opacity: 0.23;
	fill: transparent;
	stroke: rgba(244,104,49,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Polygon_5 {
	overflow: visible;
	position: absolute;
	width: 129px;
	height: 113px;
	transform: translate(0.232px, -0.123px) matrix(1,0,0,1,-8.2316,84.1234) rotate(90deg);
	transform-origin: center;
	left: 5px;
	top: 5px;
}
.Rectangle_7_Class {
	fill: rgba(138,138,138,1);
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 244px;
	left: 1736px;
	top: 644px;
}
.Rectangle_8_Class {
	fill: rgba(78,78,78,1);
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 11px;
	height: 81px;
	left: 1738px;
	top: 646px;
}
.Mask_Group_5_Class {
	position: absolute;
	width: 462px;
	height: 25px;
	left: 1239px;
	top: 880px;
	overflow: visible;
}
.Repeat_Grid_2_Class {
	position: absolute;
	width: 884.925px;
	height: 299px;
	left: 269.717px;
	top: 1507.335px;
	overflow: hidden;
}
.Repeat_Grid_2_0_Class {
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 0.5px;
	overflow: visible;
}
.Path_26_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_26 {
	overflow: visible;
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Repeat_Grid_2_1_Class {
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 35.5px;
	overflow: visible;
}
.Path_26_gh_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_26_gh {
	overflow: visible;
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Repeat_Grid_2_2_Class {
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 70.5px;
	overflow: visible;
}
.Path_26_gj_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_26_gj {
	overflow: visible;
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Repeat_Grid_2_3_Class {
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 105.5px;
	overflow: visible;
}
.Path_26_gl_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_26_gl {
	overflow: visible;
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Repeat_Grid_2_4_Class {
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 140.5px;
	overflow: visible;
}
.Path_26_gn_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_26_gn {
	overflow: visible;
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Repeat_Grid_2_5_Class {
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 175.5px;
	overflow: visible;
}
.Path_26_gp_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_26_gp {
	overflow: visible;
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Repeat_Grid_2_6_Class {
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 210.5px;
	overflow: visible;
}
.Path_26_gr_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_26_gr {
	overflow: visible;
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Repeat_Grid_2_7_Class {
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 245.5px;
	overflow: visible;
}
.Path_26_gt_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_26_gt {
	overflow: visible;
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Repeat_Grid_2_8_Class {
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 280.5px;
	overflow: visible;
}
.Path_26_gv_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_26_gv {
	overflow: visible;
	position: absolute;
	width: 887.585px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_28_Class {
	filter: blur(5px);
	fill: transparent;
	stroke: rgba(244,104,49,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_28 {
	overflow: visible;
	position: absolute;
	width: 806.14px;
	height: 244.12px;
	left: 310px;
	top: 1508.135px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_27_Class {
	fill: transparent;
	stroke: rgba(244,104,49,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_27 {
	overflow: visible;
	position: absolute;
	width: 776.14px;
	height: 214.12px;
	left: 310px;
	top: 1508.135px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_30_Class {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 300px;
	top: 1532px;
	overflow: visible;
}
.Ellipse_8_Class {
	fill: rgba(244,104,49,1);
}
.Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 0px;
	top: 0px;
}
.Ellipse_9_Class {
	filter: blur(5px);
	fill: rgba(244,104,49,1);
}
.Ellipse_9 {
	position: absolute;
	overflow: visible;
	width: 45px;
	height: 45px;
	left: 0px;
	top: 0px;
}
.Group_31_Class {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 432px;
	top: 1677px;
	overflow: visible;
}
.Ellipse_8_g_Class {
	fill: rgba(244,104,49,1);
}
.Ellipse_8_g {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 0px;
	top: 0px;
}
.Ellipse_9_g_Class {
	filter: blur(5px);
	fill: rgba(244,104,49,1);
}
.Ellipse_9_g {
	position: absolute;
	overflow: visible;
	width: 45px;
	height: 45px;
	left: 0px;
	top: 0px;
}
.Group_32_Class {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 560px;
	top: 1710px;
	overflow: visible;
}
.Ellipse_8_ha_Class {
	fill: rgba(244,104,49,1);
}
.Ellipse_8_ha {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 0px;
	top: 0px;
}
.Ellipse_9_ha_Class {
	filter: blur(5px);
	fill: rgba(244,104,49,1);
}
.Ellipse_9_ha {
	position: absolute;
	overflow: visible;
	width: 45px;
	height: 45px;
	left: 0px;
	top: 0px;
}
.Group_33_Class {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 690px;
	top: 1606px;
	overflow: visible;
}
.Ellipse_8_hb_Class {
	fill: rgba(244,104,49,1);
}
.Ellipse_8_hb {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 0px;
	top: 0px;
}
.Ellipse_9_hb_Class {
	filter: blur(5px);
	fill: rgba(244,104,49,1);
}
.Ellipse_9_hb {
	position: absolute;
	overflow: visible;
	width: 45px;
	height: 45px;
	left: 0px;
	top: 0px;
}
.Group_34_Class {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 819px;
	top: 1641px;
	overflow: visible;
}
.Ellipse_8_hc_Class {
	fill: rgba(244,104,49,1);
}
.Ellipse_8_hc {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 0px;
	top: 0px;
}
.Ellipse_9_hc_Class {
	filter: blur(5px);
	fill: rgba(244,104,49,1);
}
.Ellipse_9_hc {
	position: absolute;
	overflow: visible;
	width: 45px;
	height: 45px;
	left: 0px;
	top: 0px;
}
.Group_35_Class {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 948px;
	top: 1501px;
	overflow: visible;
}
.Ellipse_8_he_Class {
	fill: rgba(244,104,49,1);
}
.Ellipse_8_he {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 0px;
	top: 0px;
}
.Ellipse_9_hf_Class {
	filter: blur(5px);
	fill: rgba(244,104,49,1);
}
.Ellipse_9_hf {
	position: absolute;
	overflow: visible;
	width: 45px;
	height: 45px;
	left: 0px;
	top: 0px;
}
.Group_36_Class {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 1077px;
	top: 1710px;
	overflow: visible;
}
.Ellipse_8_hh_Class {
	fill: rgba(244,104,49,1);
}
.Ellipse_8_hh {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 0px;
	top: 0px;
}
.Ellipse_9_hi_Class {
	filter: blur(5px);
	fill: rgba(244,104,49,1);
}
.Ellipse_9_hi {
	position: absolute;
	overflow: visible;
	width: 45px;
	height: 45px;
	left: 0px;
	top: 0px;
}
.Group_37_Class {
	position: absolute;
	width: 544px;
	height: 81px;
	left: 1224px;
	top: 1426px;
	overflow: visible;
}
.Rectangle_10_Class {
	opacity: 0.45;
	fill: transparent;
	stroke: rgba(42,42,42,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	overflow: visible;
	width: 568px;
	height: 105px;
	left: 0px;
	top: 0px;
}
.Rectangle_11_Class {
	opacity: 0.31;
	fill: transparent;
	stroke: rgba(103,102,102,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11 {
	filter: drop-shadow(0px -3px 6px rgba(168, 168, 168, 1));
	position: absolute;
	overflow: visible;
	width: 568px;
	height: 105px;
	left: 0px;
	top: 0px;
}
.Polygon_7_Class {
	opacity: 0.67;
	filter: blur(4px);
	fill: rgba(23,23,23,1);
}
.Polygon_7 {
	overflow: visible;
	position: absolute;
	width: 19px;
	height: 16px;
	transform: matrix(1,0,0,1,1699,1465) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Polygon_6_Class {
	fill: rgba(244,103,48,1);
}
.Polygon_6 {
	overflow: visible;
	position: absolute;
	width: 19px;
	height: 16px;
	transform: matrix(1,0,0,1,1698,1462) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.SettingsToggle_Class {
	position: absolute;
	width: 62px;
	height: 62px;
	left: 1720px;
	top: 21px;
	overflow: visible;
	outline: none;
	background-color: none;
}
.Path_31_Class {
	fill: rgba(243,104,49,1);
	stroke: rgba(243,104,49,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_31 {
	overflow: visible;
	position: absolute;
	width: 30.642px;
	height: 30.642px;
	left: 16.179px;
	top: 16.179px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_32_Class {
	fill: rgba(243,104,49,1);
	stroke: rgba(243,104,49,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_32 {
	overflow: visible;
	position: absolute;
	width: 63px;
	height: 63px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.RefreshPage_Class{
    left: 500px;
    top: 100px;
    position: relative;
}
.CycleServed_Class {
	left: 376px;
	top: 1300px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
