.mediaViewInfo {
	--web-view-name: Settings;
	--web-view-id: Settings;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Settings;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Settings_Class {
	position: absolute;
	width: 1920px;
	height: 1370px;
	background-color: rgba(67,67,67,1);
	overflow: hidden;
	--web-view-name: Settings;
	--web-view-id: Settings;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
.Rectangle_3_Class {
	fill: rgba(38,38,38,1);
}
.Rectangle_3 {
	/* filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.22)); */
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 132px;
	left: 0px;
	top: 0px;
}

.RestartBanner_Class{
	display: none;
	left: 0px;
	top: 100px;
	width: 100%;
	height: 50px;
	position: relative;
	text-align: center;
	font-size: 30px;
	font-style: normal;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	/* background-color: #339cff; */
	background-color: rgba(244,105,50,1);
}
.Restart_Class{
margin-left: 20px;
}
.BannerCloseButton_Class{
	position: relative;
	background: none;
	font-size: 30px;
	color: white;
	outline: none;
	left: 500px;
	padding: 5px;
}
.BannerCloseButton_Class:hover{
	opacity: 0.8;
}
.PortStatus_Class{
	position: relative;
	top: 60px;
	left: 35px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Frame_169_Class {
	position: absolute;
	width: 192.011px;
	height: 65.322px;
	left: 96px;
	top: 18px;
	overflow: visible;
}
.Path_1_Class {
	fill: rgba(255,248,242,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 109.965px;
	height: 40.552px;
	left: 82.047px;
	top: 13.625px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_2_Class {
	fill: rgba(244,105,50,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 34.885px;
	height: 48.714px;
	left: 15.277px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3_Class {
	fill: rgba(244,105,50,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 39.92px;
	height: 44.735px;
	left: 31.392px;
	top: 15.687px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_4_Class {
	fill: rgba(244,105,50,1);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 39.609px;
	height: 45.617px;
	left: 0.043px;
	top: 19.705px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_5_Class {
	fill: rgba(208,90,43,1);
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 12.319px;
	height: 11.657px;
	left: 23.491px;
	top: 14.803px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_6_t_Class {
	opacity: 0.63;
	fill: url(#Path_6_t);
}
.Path_6_t {
	overflow: visible;
	position: absolute;
	width: 9.008px;
	height: 11.171px;
	left: 20.182px;
	top: 27.52px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_7_v_Class {
	opacity: 0.63;
	fill: url(#Path_7_v);
}
.Path_7_v {
	overflow: visible;
	position: absolute;
	width: 13.116px;
	height: 14.659px;
	left: 0px;
	top: 19.66px;
	transform: matrix(1,0,0,1,0,0);
}
.Settings_w_Class {
	left: 153px;
	top: 161px;
	position: absolute;
	overflow: visible;
	width: 185px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(244,105,50,1);
}
.ViewAllDevices_Class {
	left: 1120px;
	top: 386px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(244,105,50,1);
}
.LastConnectedLabel_Class {
	left: 1170px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(133,133,133,1);
}
.StatusLabel_Class {
	left: 862px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(133,133,133,1);
}
.ID0_MB_Class {
	left: 487px;
	top: 1232px;
	position: absolute;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(185,185,185,1);
}
.ID3367_GB_Class {
	left: 1228px;
	top: 1232px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: right;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(185,185,185,1);
}
.ID103_GB_Class {
	left: 734px;
	top: 1232px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: right;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(185,185,185,1);
}
.VersionLabel_Class {
	left: 1526px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(133,133,133,1);
}
.LastConnected_Class {
	left: 1365px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.LoggedIn_Class {
	left: 955px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.Version_Class {
	left: 1633px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.Group_4_Class {
	position: absolute;
	width: 32px;
	height: 33px;
	left: 1087px;
	top: 179px;
	overflow: visible;
}
.Path_24_Class {
	fill: rgba(100,177,2,1);
}
.Path_24 {
	overflow: visible;
	position: absolute;
	width: 32px;
	height: 33px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_8_Class {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_8 {
	overflow: visible;
	position: absolute;
	width: 20.35px;
	height: 13.293px;
	left: 6.971px;
	top: 10.481px;
	transform: matrix(1,0,0,1,0,0);
}
.gear_Class {
	position: absolute;
	width: 62px;
	height: 62px;
	left: 1720px;
	top: 21px;
	overflow: visible;
}
.Path_31_Class {
	fill: rgba(243,104,49,1);
	stroke: rgba(243,104,49,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.SettingsToggle_Class {
	position: absolute;
	width: 62px;
	height: 62px;
	left: 1720px;
	top: -10px;
	font-size: 100px;
	text-decoration: none;
	overflow: visible;
	outline: none;
	background-color: none;
	color: rgba(244,105,50,1);
}
.home_Class{
	overflow: visible;
	position: absolute;
	width: 30.642px;
	height: 30.642px;
	left: 16.179px;
	top: 16.179px;
	font-size: 50px;
}
.Path_31 {
	overflow: visible;
	position: absolute;
	width: 30.642px;
	height: 30.642px;
	left: 16.179px;
	top: 16.179px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_32_Class {
	fill: rgba(243,104,49,1);
	stroke: rgba(243,104,49,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_32 {
	overflow: visible;
	position: absolute;
	width: 63px;
	height: 63px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_59_Class {
	position: absolute;
	width: 1145px;
	height: 81px;
	left: 153px;
	top: 357px;
	overflow: visible;
}
.DeviceNameLabel_Class {
	left: 0px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(219,219,219,1);
}
.DeviceName_Class {
	left: 394px;
	top: 24px;
	position: absolute;
	overflow: visible;
	width: 369px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(219,219,219,1);
	text-transform: lowercase;
}
.Group_55_Class {
	position: absolute;
	width: 807px;
	height: 81px;
	left: 338px;
	top: 0px;
	overflow: visible;
}
.Group_54_Class {
	position: absolute;
	width: 807px;
	height: 81px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_10_Class {
	opacity: 0.45;
	fill: transparent;
	stroke: rgba(42,42,42,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	overflow: visible;
	width: 831px;
	height: 105px;
	left: 0px;
	top: 0px;
}
.Rectangle_11_Class {
	opacity: 0.31;
	fill: transparent;
	stroke: rgba(110,110,110,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11 {
	filter: drop-shadow(0px -3px 6px rgba(168, 168, 168, 1));
	position: absolute;
	overflow: visible;
	width: 831px;
	height: 105px;
	left: 0px;
	top: 0px;
}
.Group_60_Class {
	position: absolute;
	width: 1145px;
	height: 81px;
	left: 153px;
	top: 522px;
	overflow: visible;
}
.StorageLocationLabel_Class {
	left: 0px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 185px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(219,219,219,1);
}
.StoragePath_Class {
	left: 394px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 288px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(219,219,219,1);
}
.Group_55_bn_Class {
	position: absolute;
	width: 807px;
	height: 81px;
	left: 338px;
	top: 0px;
	overflow: visible;
}
.Group_54_bo_Class {
	position: absolute;
	width: 807px;
	height: 81px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_10_bp_Class {
	opacity: 0.45;
	fill: transparent;
	stroke: rgba(42,42,42,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10_bp {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	overflow: visible;
	width: 831px;
	height: 105px;
	left: 0px;
	top: 0px;
}
.Rectangle_11_bq_Class {
	opacity: 0.31;
	fill: transparent;
	stroke: rgba(110,110,110,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11_bq {
	filter: drop-shadow(0px -3px 6px rgba(168, 168, 168, 1));
	position: absolute;
	overflow: visible;
	width: 831px;
	height: 105px;
	left: 0px;
	top: 0px;
}
.Group_61_Class {
	position: absolute;
	width: 1145px;
	height: 81px;
	left: 153px;
	top: 687px;
	overflow: visible;
}
.SwrmPortNumberLabel_Class {
	left: 0px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(219,219,219,1);
}
.SwrmPortNumberBox_Class{
	left: 60px;
	top: 25px;
	position:relative;
}
.SwrmPortNumber_Class {
	outline: none;
	position: relative;
	overflow: hidden;
	width: 600px;
	caret-color: white;
	white-space: nowrap;
	background: none;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(219,219,219,1);
	text-transform: uppercase;
}
::placeholder{
	color:rgba(219,219,219,1);
}
input:focus::placeholder {
  color: transparent;
}
.SetSwrmPortNumberButton_Class{
	position: relative;
	left: 50px;
	top: -4px;
	width: 50px;
	height: 24px;
	outline: none;
	color: white;
	border-radius: 3px;
	background-color: rgba(244, 105, 50, 1);
}
.Group_55_bu_Class {
	position: absolute;
	width: 807px;
	height: 81px;
	left: 338px;
	top: 0px;
	overflow: visible;
}
.Group_54_bv_Class {
	position: absolute;
	width: 807px;
	height: 81px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_10_bw_Class {
	opacity: 0.45;
	fill: transparent;
	stroke: rgba(42,42,42,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10_bw {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	overflow: visible;
	width: 831px;
	height: 105px;
	left: 0px;
	top: 0px;
}
.Rectangle_11_bx_Class {
	opacity: 0.31;
	fill: transparent;
	stroke: rgba(110,110,110,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11_bx {
	filter: drop-shadow(0px -3px 6px rgba(168, 168, 168, 1));
	position: absolute;
	overflow: visible;
	width: 831px;
	height: 105px;
	left: 0px;
	top: 0px;
}
.Group_62_Class {
	position: absolute;
	width: 1145px;
	height: 81px;
	left: 153px;
	top: 852px;
	overflow: visible;
}
.WebSocketPortNumberLabel_Class {
	left: 0px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 269px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(219,219,219,1);
}
.WebSocketPortNumberBox_Class{
	left: 60px;
	top: 25px;
	position:relative;
}
.WebSocketPortNumber_Class {
	outline: none;
	position: relative;
	overflow: hidden;
	width: 600px;
	caret-color: white;
	white-space: nowrap;
	background: none;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(219,219,219,1);
	text-transform: uppercase;
}
.WebSocketPortNumberButton_Class{
	position: relative;
	left: 50px;
	top: -4px;
	width: 50px;
	height: 24px;
	outline: none;
	color: white;
	border-radius: 3px;
	background-color: rgba(244, 105, 50, 1);
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid grey;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.Group_55_b_Class {
	position: absolute;
	width: 807px;
	height: 81px;
	left: 338px;
	top: 0px;
	overflow: visible;
}
.Group_54_b_Class {
	position: absolute;
	width: 807px;
	height: 81px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_10_b_Class {
	opacity: 0.45;
	fill: transparent;
	stroke: rgba(42,42,42,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10_b {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	overflow: visible;
	width: 831px;
	height: 105px;
	left: 0px;
	top: 0px;
}
.Rectangle_11_b_Class {
	opacity: 0.31;
	fill: transparent;
	stroke: rgba(110,110,110,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11_b {
	filter: drop-shadow(0px -3px 6px rgba(168, 168, 168, 1));
	position: absolute;
	overflow: visible;
	width: 831px;
	height: 105px;
	left: 0px;
	top: 0px;
}
.Group_63_Class {
	position: absolute;
	width: 904px;
	height: 81px;
	left: 153px;
	top: 1017px;
	overflow: visible;
}
.PortForwardTesterLabel_Class {
	left: 0px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 214px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(219,219,219,1);
}
.PortForward_Class {
	left: 60px;
	top: 25px;
	position: relative;
	overflow: visible;
	width: 159px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(219,219,219,1);
	text-transform: uppercase;
}
.Group_55_ca_Class {
	position: absolute;
	width: 351px;
	height: 81px;
	left: 338px;
	top: 0px;
	overflow: visible;
}
.Group_54_ca_Class {
	position: absolute;
	width: 351px;
	height: 81px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_10_ca_Class {
	opacity: 0.45;
	fill: transparent;
	stroke: rgba(42,42,42,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10_ca {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 105px;
	left: 0px;
	top: 0px;
}
.Rectangle_11_cb_Class {
	opacity: 0.31;
	fill: transparent;
	stroke: rgba(110,110,110,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11_cb {
	filter: drop-shadow(0px -3px 6px rgba(168, 168, 168, 1));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 105px;
	left: 0px;
	top: 0px;
}
.VerifyPortForwardStatus_Class {
	position: absolute;
	width: 187px;
	height: 81px;
	left: 717px;
	top: 0px;
	overflow: visible;
}
.Group_54_cd_Class {
	position: absolute;
	width: 187px;
	height: 81px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_10_ce_Class {
	opacity: 0.45;
	fill: transparent;
	stroke: rgba(42,42,42,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10_ce {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	overflow: visible;
	width: 211px;
	height: 105px;
	left: 0px;
	top: 0px;
}
.Rectangle_11_cf_Class {
	opacity: 0.31;
	fill: transparent;
	stroke: rgba(110,110,110,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11_cf {
	filter: drop-shadow(0px -3px 6px rgba(168, 168, 168, 1));
	position: absolute;
	overflow: visible;
	width: 211px;
	height: 105px;
	left: 0px;
	top: 0px;
}
.Group_56_Class {
	position: absolute;
	width: 177px;
	height: 82px;
	left: 1535px;
	top: 364px;
	overflow: visible;
}
.UsedSpaceLabel_Class {
	left: 54px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.UsedSpace_Class {
	left: 54px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.Rectangle_12_Class {
	fill: rgba(244,105,50,1);
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 2px;
}
.Group_58_Class {
	position: absolute;
	width: 168px;
	height: 82px;
	left: 1535px;
	top: 522px;
	overflow: visible;
}
.FreeSpaceLabel_Class {
	left: 54px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.FreeSpace_Class {
	left: 54px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.Rectangle_12_cn_Class {
	fill: rgba(140,140,140,1);
}
.Rectangle_12_cn {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 2px;
}
.Line_1_Class {
	opacity: 0.41;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 44px;
	left: 1171.5px;
	top: 540.5px;
	transform: matrix(1,0,0,1,0,0);
}
.SelectStoragePath_Class {
	position: absolute;
	width: 39.086px;
	height: 31.696px;
	left: 1205px;
	top: 530px;
	font-size: 44px;
	overflow: visible;
	outline: none;
	background: none;
}
.Group_65_Class {
	position: absolute;
	width: 33.118px;
	height: 21.708px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_64_Class {
	position: absolute;
	width: 33.118px;
	height: 21.708px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_33_Class {
	fill: rgba(244,105,50,1);
}
.Path_33 {
	overflow: visible;
	position: absolute;
	width: 33.118px;
	height: 21.708px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_67_Class {
	position: absolute;
	width: 38.571px;
	height: 23.023px;
	left: 0.515px;
	top: 8.673px;
	overflow: visible;
}
.Group_66_Class {
	position: absolute;
	width: 38.571px;
	height: 23.023px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_34_Class {
	fill: rgba(244,105,50,1);
}
.Path_34 {
	overflow: visible;
	position: absolute;
	width: 38.571px;
	height: 23.023px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.VerifyPortForwardTester_Class {
	fill: rgba(100,177,2,1);
}
.VerifyPortForwardTester {
	position: absolute;
	overflow: visible;
	width: 210px;
	height: 81px;
	left: 1088px;
	top: 1017px;
}
.VerifyButton_Class{
	position: relative;
	background: none;
	outline: none;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	width: 210px;
	height: 81px;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
.VerifyBox_Class {
	border-radius: 999px;
	position: absolute;
	overflow: visible;
	text-align: center;
	left: 1088px;
	top: 1017px;
	background: rgba(100,177,2,1);
}
.VerifyBox_Class:hover{
	opacity: 0.8;
}
.StorageSizeLabel_Class {
	left: 153px;
	top: 1182px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(219,219,219,1);
}
.StorageSize_Class{
	top: 1192px;
	left: 330px;
	width: 811px;
	height: 20px;
	position: relative;
}
/* .Slider_Class{
	position: relative;
	-webkit-appearance: none;
	-webkit-transition: 0.2s;
    transition: opacity 0.2s;
	outline: none;
	height: 18px;
    border-radius: 999px;
	width: 100%;
	background-color: rgba(244, 105, 50, 1);
} */
/* .Slider_Class::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 999px;
  border: 1px solid black;
  background-color: rgba(244, 105, 50, 1);
  overflow: visible;
  cursor: pointer;
} */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 811px;
	  height: 12px;
	  border-radius: 999px;
	  outline: none;
      -webkit-appearance: none;
	  overflow: visible;
	  background-image: -webkit-gradient(
		  linear,
		  left top,
		  right top,
		  color-stop(0.15, rgba(244,105,50,1)),
		  color-stop(0.15, #c7c7c7)
		  );
    }

    input[type='range']::-webkit-slider-runnable-track {
	  width: 100%;
	  height: 20px;
	  border-radius: 999px;
      -webkit-appearance: none;
    }

    input[type='range']::-webkit-slider-thumb {
      width: 20px;
      -webkit-appearance: none;
      height: 20px;
	  border-radius: 999px;
      cursor: ew-resize;
      background: rgba(244,105,50,1);
    }

}

.Rectangle_14_Class {
	fill: rgba(138,138,138,1);
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 811px;
	height: 18px;
	left: 0px;
	top: 16px;
}
.Rectangle_15_Class {
	fill: rgba(244,105,50,1);
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 18px;
	left: 0px;
	top: 16px;
}
.Ellipse_10_Class {
	fill: rgba(244,105,50,1);
}
.Ellipse_10 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 48px;
	left: 252px;
	top: 0px;
}
